#grad {
    background-image: linear-gradient(90deg, rgba(23, 228, 150, 0.9528186274509804) 0%, rgba(0, 189, 255, 1) 95%);
}

.container {
    width: 100%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border-radius: 10%;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10%;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 10%;
    padding: 10px
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: #f0e5b6;
    color: black;
}


/* Style the back side */

.flip-card-back {
    background-color: #f0e5b6;
    color: black;
    transform: rotateY(180deg);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 300px;
}

.image-box img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.image-box:hover img {
    transform: scale(1.1);
}