{% extends "basic_portfolio_app/base.html" %} {% block body_block %} {% load static%}
<div id="grad" style="padding: 20px;">
    <h1 class="mb-10">If you need , Contact me</h1>
    <br>
    <p><i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
        <a target="blank" href="https://github.com/omrawal">https://github.com/omrawal</a>
    </p>
    <p><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
        <a target="blank" href="https://in.linkedin.com/in/om-rawal">https://in.linkedin.com/in/om-rawal</a>
    </p>
    <p><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
        <a target="blank" href="mailto:om.rawal@somaiya.edu">om.rawal@somaiya.edu</a>
    </p>
    <p><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> Borivali,Mumbai</p>
    <p><i class="fa fa-phone fa-2x" aria-hidden="true"></i> +91 8451895095</p>

</div>
{% endblock body_block %}