{% extends "basic_portfolio_app/base.html" %} {% block body_block %}
<div style="padding: 40px;" id="grad">
    <h1 class="mb-10"> Internships & Experiences ..</h1>
    <div class="wrapper">
        {% for data in experience_data %}
        <div>
            <img src="{{data.logo.url}} " alt="LOGO " height="60 " width="60 ">
            <h4 class="mt-30">{{data.title}}</h4>
            <p class="mt-20"> {{data.job_profile}}</p>
            <p class="mt-20"> {{data.description}}</p>
            <p> <a href="{{data.link}} ">{{data.link}}</a></p>
            <h5>TechStack:</h5>
            <p> {{data.tech_stack}}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body_block %}